<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col">
      <h1>Pipes en Angular</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">      
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Variable</th>
            <th scope="col">Pipe</th>
            <th scope="col">Resultado</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>Uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>Lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>